################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CourseWork/CourseWork/CourseWork/appsettings.Development.json
